<% content_for :page_styles do %>
	<%= stylesheet_link_tag "chosen" %>
<% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="icon-home"></i><a href="<%= root_path %>">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
			<li class="active">Launch Instance<span class="divider"></span></li>
		</ul>
	</div>
<% end %>

<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Launch Instance</h1>
	</div><!--/page-header-->
<% end %>

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-header"></div>

			<div class="widget-body">
				<div class="widget-main">
				
					<div class="row-fluid">
					
						<div class="step-content row-fluid position-relative">
							<%= form_for @instance, html: {id: 'validation-form', class: 'form-horizontal'} do |f| %>
								<div class="step-pane active">
								
									<h4 class="lighter block green">Name your Instance</h4>

									<div class="control-group">
										<label class="control-label" for="name"></label>
										<div class="controls">
											<span class="span6 input-icon input-icon-right">
												<%= f.text_field :name, class: "span12", id: "name" %>
											</span>
										</div>
									</div>
								
									<h4 class="lighter block green">Select Instance Type</h4>

									<div class="control-group">
										<label class="control-label" for="ami"></label>
										<div class="controls">
											<table id="table_bug_report" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th></th>
														<th><i class="icon-list-alt"></i> Type</th>
														<th><i class="icon-hdd"></i> Memory</th>
														<th><i class="icon-briefcase"></i> Cost</th>
													</tr>
												</thead>

												<tbody>
													<% InstanceType.all.each do |it| %>
														<tr>
															<td class="center">
																<label><input type="radio" name="instance[instance_type]" class="instance_type" value="<%= it.name %>"><span class="lbl"></span></label>
															</td>
															<td><%= it.name %></td>
															<td><%= it.memory %></td>
															<td><%= it.cost %></td>
														</tr>
													<% end %>
												</tbody>
											</table>
										</div>
									</div>

									<h4 class="lighter block green">Select AMI</h4>

									<div class="control-group">
										<label class="control-label" for="ami"></label>
										<div class="controls">
											<span class="span6 input-icon input-icon-right">
												<%= f.select :ami, AppConfig.ami_ids,{}, {class: "span12", id: "ami"} %>
											</span>
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="ami"></label>
										<div class="controls">
											<span class="span6 input-icon input-icon-right">
												<%= f.submit "   Launch", class: "btn btn-success" %>
												<%= link_to "Cancel", :back, class: "btn", style: "width:65px;"%>
											</span>
										</div>
									</div>
									
								</div>
								
							<% end %>
						</div>
					</div>

				</div><!--/widget-main-->
			</div><!--/widget-body-->
		</div>
	</div>
</div>

<% content_for :inline_scripts do %>
	<script type="text/javascript">

		$(function() {
			$('.instance_type:first').attr('checked', 'checked');
		});
	
		</script>
<% end %>
