<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @user.first_name %></p>
    <p>
      <% if @product.web_name == "AWS" %>
        Your subscription for instance <%= @product.name + ' (' + @product.product_type + ')' %> is renewed. You have been auto-charged with $<%= number_with_precision(@product.cost_per_month, precision: 2) %> for the same.
      <% elsif @product.web_name == "DigitalOcean"%>
        Your subscription for instance <%= @product.name + ' (' + @product.size_type + ')' %> is renewed. You have been auto-charged with $<%= number_with_precision(@product.cost_per_month, precision: 2) %> for the same.
      <%end%>
    </p>
  </body>
</html>