<!-- BEGIN REVOLUTION SLIDER -->
<div class="fullwidthbanner-container slider-main">
	<div class="fullwidthabnner">
		<ul id="revolutionul" style="display:none;">
			<!-- THE FIRST SLIDE -->
			<li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="assets/img/sliders/revolution/thumbs/thumb2.jpg">
				<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
				<%= image_tag "bg1.jpg" %>

				<div class="caption lft slide_title slide_item_left"
				data-x="35"
				data-y="30"
				data-speed="400"
				data-start="1500"
				data-easing="easeOutExpo">
					Managed Open Source Applications
				</div>
				<div class="caption lft slide_desc slide_item_left"
				data-x="50"
				data-y="120"
				data-speed="400"
				data-start="2000"
				data-easing="easeOutExpo">
					<%= image_tag "logo_sugarcrm.png", class: "img-responsive" %>
				</div>
				<div class="caption lft slide_subtitle slide_item_left"
				data-x="35"
				data-y="220"
				data-speed="400"
				data-start="2000"
				data-easing="easeOutExpo">
					SugarCRM
				</div>
				<div class="caption lft slide_desc slide_item_left"
				data-x="245"
				data-y="120"
				data-speed="400"
				data-start="2500"
				data-easing="easeOutExpo">
					<%= image_tag "logo_vtiger.png", class: "img-responsive" %>
				</div>
				<div class="caption lft slide_subtitle slide_item_left"
				data-x="250"
				data-y="220"
				data-speed="400"
				data-start="2500"
				data-easing="easeOutExpo">
					vtiger
				</div>
				<div class="caption lft slide_desc slide_item_left"
				data-x="435"
				data-y="120"
				data-speed="400"
				data-start="3000"
				data-easing="easeOutExpo">
					<%= image_tag "logo_weberp.png", class: "imag-responsive" %>
				</div>
				<div class="caption lft slide_subtitle slide_item_left"
				data-x="435"
				data-y="220"
				data-speed="400"
				data-start="3000"
				data-easing="easeOutExpo">
					webERP
				</div>
				<div class="caption lft slide_desc slide_item_left"
				data-x="35"
				data-y="270"
				data-speed="400"
				data-start="3500"
				data-easing="easeOutExpo">
					<span class="banner-msg">We provide High Performance Managed Open Source Applications for your business.<BR/>
					Deploy Your Favorite Open Source Application in less than 60 Seconds.</span>
				</div>
				<a class="caption lft btn green slide_btn slide_item_left medium_text bold" href="/pricing"
				data-x="35"
				data-y="330"
				data-speed="400"
				data-start="4000"
				data-easing="easeOutExpo">
				Get Started With Your Favorite Application
				</a>
				<div class="caption lfb"
				data-x="695"
				data-y="55"
				data-speed="700"
				data-start="1000"
				data-easing="easeOutExpo"  >
					<%= image_tag "servers.png" %>
				</div>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom"></div>
	</div>
</div>
<!-- END REVOLUTION SLIDER -->

<!-- BEGIN CONTAINER -->
<div class="container">
	<!-- BEGIN SERVICE BOX -->
	<div class="row service-box">
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-location-arrow blue"></i></em>
				<span>Fully Managed Server</span>
			</div>
			<p>
				We will manage the server where your application is hosted for any problems or outages so that you can concentrate on the core of your business.
			</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-check red"></i></em>
				<span>Low Cost Of Customization</span>
			</div>
			<p>Every business needs customization of Open Source Application at some point in time. We customize your CRM/ERP applications at minimum cost.</p>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="service-box-heading">
				<em><i class="fa fa-compress green"></i></em>
				<span>Mobile Ready</span>
			</div>
			<p>
				Most of our applications are Mobile Ready so that you can access and perform operations on your data on the go. We provide support for these Mobile Applications as well.
			</p>
		</div>
	</div>
	<!-- END SERVICE BOX -->

	<!-- BEGIN BLOCKQUOTE BLOCK -->
	<div class="row quote-v1">
		<div class="col-md-9 quote-v1-inner">
			<span>Get Started with your Favorite Application Now</span>
		</div>
		<div class="col-md-3 quote-v1-inner text-right">
			<a class="btn-transparent" href="<%= launch_server_path %>" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Launch Application</a>
		</div>
	</div>
	<!-- END BLOCKQUOTE BLOCK -->

	<div class="clearfix"></div>

	<!-- BEGIN CLIENTS -->
	<div class="row margin-bottom-40 our-clients">
		<div class="col-md-3">
			<h2><a href="#">Our Clients</a></h2>
			<p>
				We proudly present our list of clients.
			</p>
		</div>
		<div class="col-md-9">
			<ul class="bxslider1 clients-list">
				<li>
					<a> <img src="assets/deestat_gray.png" alt="" /> <img src="assets/deestat.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/golfwarehouse_gray.png" alt="" /> <img src="assets/golfwarehouse.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/ipasystems_gray.png" alt="" /> <img src="assets/ipasystems.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/onboardsolutionsllc_gray.png" alt="" /> <img src="assets/onboardsolutionsllc.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/onthru_gray.png" alt="" /> <img src="assets/onthru.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/operasoft_gray.png" alt="" /> <img src="assets/operasoft.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/razorit_gray.png" alt="" /> <img src="assets/razorit.png" class="color-img" alt="" /> </a>
				</li>
				<li>
					<a> <img src="assets/zumatel_gray.png" alt="" /> <img src="assets/zumatel.png" class="color-img" alt="" /> </a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END CLIENTS -->
</div>
<!-- END CONTAINER -->
<% content_for :inline_scripts do %>
<script type="text/javascript">
	window.onload = function() {
		$('ul.navbar-nav li').removeClass('active');
		$('ul.navbar-nav li:first').addClass('active');
	}; 
</script>
<% end %>