<% content_for :page_styles do %>
	<%= stylesheet_link_tag "chosen" %>
<% end %>

<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="icon-home"></i><a href="<%= root_path %>">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
			<li class="active">Launch Instance<span class="divider"></span></li>
		</ul>
	</div>
<% end %>

<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Launch Instance</h1>
	</div><!--/page-header-->
<% end %>

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-header"></div>

			<div class="widget-body">
				<div class="widget-main">
				
					<div class="row-fluid">
					
						<div class="step-content row-fluid position-relative">
							<%= form_for @product, html: {id: 'validation-form', class: 'form-horizontal'} do |f| %>
								<div class="step-pane active">

									<div class="control-group">
										<label class="control-label lighter block green" for="name">Name your Instance</label>
										<div class="controls">
											<span class="span4 input-icon input-icon-right">
												<%= f.text_field :name, class: "span12", id: "name", required: true, maxlength:"128" %>
											</span>
											<label class="lighter block red">(a-z, A-Z, 0-9)</label>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label lighter block green" for="image">Select Instance Type</label>
										<div class="controls">
											<table id="table_bug_report" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th></th>
														<th><i class="icon-list-alt"></i> Type</th>
														<th class="hidden-phone"><i class="icon-hdd"></i> Memory</th>
														<th><i class="icon-briefcase"></i> Cost</th>
													</tr>
												</thead>

												<tbody>
													<%if AppConfig.cloud[:name] == "AWS"%>
														<% ProductType.all.each do |it| %>
															<tr>
																<td class="center">
																	<label><input type="radio" name="product[product_type]" class="product_type" value="<%= it.name %>"><span class="lbl"></span></label>
																</td>
																<td><%= it.name %></td>
																<td class="hidden-phone"><%= it.memory %></td>
																<td><%= it.cost %></td>
															</tr>
														<% end %>
													<% elsif AppConfig.cloud[:name] == "DigitalOcean"%>
														<% SizeType.all.each do |it| %>
															<tr>
																<td class="center">
																	<label><input type="radio" name="product[size_type]" class="product_type" value="<%= it.size_id %>"><span class="lbl"></span></label>
																</td>
																<td><%= it.name %></td>
																<td class="hidden-phone"><%= it.memory %></td>
																<td><%= it.cost %></td>
															</tr>
														<% end %>
													<%end%>
												</tbody>
											</table>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label lighter block green" for="">Select Image</label>
										<div class="controls">
											<span class="span4 input-icon input-icon-right">
												<%if AppConfig.cloud[:name] == "AWS"%>
													<%= f.select :image_id, AppConfig.ami_ids,{}, {class: "span12", id: "ami"} %>
												<%elsif%>
													<%= f.select :image_id, AppConfig.image_ids,{}, {class: "span12", id: "images"} %>
												<% end%>
											</span>
										</div>
									</div>
									<%if AppConfig.cloud[:name] == "DigitalOcean"%>
	
										<div class="control-group">
											<label class="control-label lighter block green" for="">Select Region</label>
											<div class="controls">
												<span class="span4 input-icon input-icon-right">
														<%= f.select :region_id, RegionType.all.map{|cc| [cc.name, cc.region_id]},{}, {class: "span12", id: "ami"} %>
												</span>
											</div>
										</div>
									<% end%>
									<div class="control-group">
										<label class="control-label" for="ami"></label>
										<div class="controls">
											<span class="span6 input-icon input-icon-right">
												
												<%= f.submit "   Launch", class: "btn btn-success btn_launch" %>
												<%= link_to "Cancel", :back, class: "btn", style: "width:65px;"%>
											
											</span>
										</div>
									</div>
									
								</div>
								
							<% end %>
						</div>
					</div>

				</div><!--/widget-main-->
			</div><!--/widget-body-->
		</div>
	</div>
</div>

<% content_for :inline_scripts do %>
	<script type="text/javascript">
		window.onload = function() {
			$('.product_type:first').attr('checked', 'checked');
			$('li#nav-elements-launch').addClass('active');
			if (navigator.userAgent.match(/Firefox/)) {
				$('.btn_launch').attr("style", "padding-top:7px;padding-bottom:8px;");
			};
		};
		$("#name").keypress(function(event){
			if (event.altKey == false && event.ctrlKey == false)
				if (!((event.keyCode >= 48 && event.keyCode <= 57 && event.shiftKey== false) ||
					(event.keyCode >= 65 && event.keyCode <= 90) ||
					(event.keyCode >= 97 && event.keyCode <= 122) || event.keyCode == 8 || event.keyCode == 46))
					event.preventDefault();
		});
		</script>
<% end %>
