<% content_for :header do %>
	Launch Server
<% end %>

<% content_for :breadcrumbs do %>
	<li>
		<i class="fa fa-home"></i>
		<a href="/">
		Home </a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		Launch Server
	</li>
<% end %>

<div class="portlet box red">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Fill Details For New Server
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<%= form_for @product, url: servers_path, html: {id: 'validation-form', class: 'form-horizontal'} do |f| %>
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">Name Your Server :</label>
					<div class="col-md-4">
						<%= f.text_field :name, class: "form-control", id: "name", required: true, maxlength:"128", placeholder: "Enter Name" %>
						<span class="help-block"> (a-z, A-Z, 0-9) </span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Select Image:</label>
					<div class="col-md-9">
						<% if AppConfig.cloud[:name] == "AWS" %>
							<%= f.select :image_id, AppConfig.ami_ids,{}, {class: "form-control", id: "ami"} %>
						<% elsif %>
							<% AppConfig.image_ids.each do |id| %>
								<div class="col-md-3 well images" style="cursor:pointer;">
									<input type="radio" name="product[image_id]" class="product_image hidden" value="<%= id.last %>" />
									<%= product_image id.first %>
								</div>
								<div class="col-md-1"></div>
							<% end %>
						<% end %>
					</div>
				</div>
			<% if AppConfig.cloud[:name] == "AWS" %>
				<% ProductType.all.each do |it| %>
					<div class="form-group">
						<div class="col-md-3 control-label">
							<input type="radio" name="product[size_type]" class="product_type" value="<%= it.size_id %>" />&nbsp;<label><b><%= it.name %></b></label>
						</div>
						<div class="col-md-3 form-container">
							<div class="row"><%= it.memory %></div>
							<div class="row"><%= it.cost %></div>
						</div>
					</div>
				<% end %>
			<% elsif AppConfig.cloud[:name] == "DigitalOcean" %>
				<div class="form-group">
					<label class="col-md-3 control-label">Select Size :</label>
					<div class="col-md-9">
						<% SizeType.all.each do |it| %>
							<div class="col-md-3 well sizes" style="cursor:pointer;" id="<%= it.name.downcase %>">
								<input type="radio" name="product[size_type]" class="product_type hidden" value="<%= it.size_id %>" />
								<h4 class="text-center"><b><%= it.name %></b></h4>
								<div class="row text-center"><%= it.memory %> Memory</div>
								<div class="row text-center"><%= it.disk %> GB SSD Disk</div>
								<div class="row text-center"><%= it.cost %></div>
							</div>
							<div class="col-md-1"></div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<button type="submit" class="btn blue">
					Submit
				</button>
				<%= link_to "Cancel", servers_path, class: "btn default" %>
			</div>
		</div>
		<% end %>
		<!-- END FORM-->
	</div>
</div>

<% content_for :inline_scripts do %>
	<script type="text/javascript">
		window.onload = function() {
			$('li#nav-elements-launch').addClass('active');
			select_radio_option = function($option, $choices) {
				$choices.removeAttr('checked');
				$option.prop('checked', true);
			};
			highlight_div = function($div, $elements) {
				$elements.removeClass('highlight');
				$div.addClass('highlight');
			};
			$(document).on('click', 'div.images', function(){
				highlight_div($(this), $('div.images'));
				$radio = $(this).find('input.product_image');
				select_radio_option($radio, $('input.product_image'))
			});
			$(document).on('click', 'div.sizes', function(){
				highlight_div($(this), $('div.sizes'));
				$radio = $(this).find('input.product_type');
				select_radio_option($radio, $('input.product_type'))
			});
			$("#name").keypress(function(event){
				if (event.altKey == false && event.ctrlKey == false)
					if (!((event.keyCode >= 48 && event.keyCode <= 57 && event.shiftKey== false) ||
						(event.keyCode >= 65 && event.keyCode <= 90) ||
						(event.keyCode >= 97 && event.keyCode <= 122) || event.keyCode == 8 || event.keyCode == 46))
						event.preventDefault();
			});
			<% if params[:type] && %w(basic small business).include?(params[:type]) %>
				$("div#" + "<%= params[:type] %>").trigger('click');
			<% else %>
				$('div.sizes:first').trigger('click');
			<% end %>
			$('div.images:first').trigger('click');
			
		};
	</script>
<% end %>
