<% content_for :header do %>
	Launch Server
<% end %>

<% content_for :breadcrumbs do %>
	<li>
		<i class="fa fa-home"></i>
		<a href="/">
		Home </a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		Launch Server
	</li>
<% end %>

<div class="portlet box red">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Fill Details For New Server
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse"></a>
			<a href="#portlet-config" data-toggle="modal" class="config"></a>
			<a href="javascript:;" class="reload"></a>
			<a href="javascript:;" class="remove"></a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<%= form_for @product, url: servers_path, html: {id: 'validation-form'} do |f| %>
		<div class="form-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="col-md-2 control-label">Name Your Server:</label>
						<div class="col-md-10">
							<%= f.text_field :name, class: "form-control", id: "name", required: true, maxlength:"128", placeholder: "Enter Name" %>
							<span class="help-block"> (a-z, A-Z, 0-9) </span>
						</div>
					</div>
				</div>
				<!--col-->
			</div>
			<!--row-->
			<%if AppConfig.cloud[:name] == "AWS"%>
				<% ProductType.all.each do |it| %>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-2 control-label">
								<input type="radio" name="product[size_type]" class="product_type" value="<%= it.size_id %>" />&nbsp;<label><b><%= it.name %></b></label>
							</div>
							<div class="col-md-6 form-container">
								<div class="row"><%= it.memory %></div>
								<div class="row"><%= it.cost %></div>
							</div>
						</div>
					</div>
					<!--col-->
				</div>
				<!--row-->
				<%end%>
			<%elsif AppConfig.cloud[:name] == "DigitalOcean"%>
				<% SizeType.all.each do |it| %>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-2 control-label">
								<input type="radio" name="product[size_type]" class="product_type" value="<%= it.size_id %>" />&nbsp;<label><b><%= it.name %></b></label>
							</div>
							<div class="col-md-6 form-container">
								<div class="row"><%= it.cpu %> CPU unit(s)</div>
								<div class="row"><%= it.memory %> Memory</div>
								<div class="row"><%= it.disk %> GB SSD Disk</div>
								<div class="row"><%= it.cost %></div>
							</div>
						</div>
					</div>
					<!--col-->
				</div>
				<!--row-->
				<%end%>
			<%end%>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="col-md-2 control-label">Select Image:</label>
						<div class="col-md-10">
							<% if AppConfig.cloud[:name] == "AWS" %>
								<%= f.select :image_id, AppConfig.ami_ids,{}, {class: "form-control", id: "ami"} %>
							<% elsif %>
								<%= f.select :image_id, AppConfig.image_ids,{}, {class: "form-control", id: "images"} %>
							<% end %>
						</div>
					</div>
				</div>
				<!--col-->
			</div>
			<!--row-->
		</div>
		<div class="form-actions fluid">
			<div class="col-md-offset-3 col-md-9">
				<button type="submit" class="btn blue">
					Submit
				</button>
				<button type="button" class="btn default">
					Cancel
				</button>
			</div>
		</div>
		<%end%>
		<!-- END FORM-->
	</div>
</div>

<% content_for :inline_scripts do %>
	<script type="text/javascript">
		window.onload = function() {
			$('li#nav-elements-launch').addClass('active');
		};
	</script>
<% end %>
