<% content_for :header do %>
	Server Details
<% end %>

<% content_for :breadcrumbs do %>
	<li class="btn-group">
		<a class="btn red" href="<%= launch_server_path %>" style="color:white;">Launch Server</a>
	</li>
	<li>
		<i class="fa fa-home"></i>
		<a href="/">
		Home </a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li>
		<%= @product.name.try(:humanize) %>
	</li>
<% end %>
<div class="portlet box red">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Basic Details
		</div>
		<div class="tools">
			<a href="<%= server_path(@product)%>" class="reload"></a>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form class="form-horizontal" role="form">
			<div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Name :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%= @product.name.try(:humanize)%>
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Server ID :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%= @product.product_id ? @product.product_id : '-' %>
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Launch Time :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%= @product.launch_time ? @product.launch_time : '-' %>
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Cost :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									$ <%= @product.cost %> per Month
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">
								<%= AppConfig.cloud[:name] == "DigitalOcean" ? 'Size Type :' : 'Server Type :' %>
							</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%if AppConfig.cloud[:name] == "AWS"%>
										<%= @product.product_type %>
									<% elsif AppConfig.cloud[:name] == "DigitalOcean" %>
										<%= SizeType.find_by_size_id(@product.size_type).name %>
									<%end%>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Image ID :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%= @product.image_id %>
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Status :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%= @product.status %>
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">DNS Name :</label>
							<div class="col-md-9">
								<p class="form-control-static">
									<%= @product.dns_name %>
								</p>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>
<% content_for :inline_scripts do %>
	<script type="text/javascript">
		window.onload = function() {
			$('li#nav-elements-server').addClass('active');
		};
	</script>
<% end %>