<% content_for :page_styles do %>
	<%= stylesheet_link_tag "select2_metro", media: "all" %>
	<%= stylesheet_link_tag "DT_bootstrap", media: "all" %>
<% end %>

<% content_for :header do %>Custom Images<% end %>

<table class="table table-striped table-bordered table-hover" id="sample_1">
	<thead>
		<tr>
			<th>Name</th>
			<th class='hidden-480'>ImageID</th>
			<th class='hidden-480'>Hosting</th>
			<th class='hidden-480'>Remote Image ID</th>
			<th class='hidden-480'>Price</th>
			<th class='hidden-480'>RAM</th>
			<th class='hidden-480'>Region</th>
		</tr>
	</thead>
	<tbody>
		<% @images.each do |image| %>
		<tr>
			<td><%= image.name %></td>
			<td><%= image.id %></td>
			<td><%= image.hosting %></td>
			<td><%= image.remote_image_id %></td>
			<td><%= image.price %></td>
			<td><%= image.ram %></td>
			<td><%= image.region %></td>
		</tr>
		<%end%>
	</tbody>
</table>

<% content_for :page_scripts do %>
	<%= javascript_include_tag "jquery.dataTables.min" %>
	<%= javascript_include_tag "DT_bootstrap" %>
	<%= javascript_include_tag "select2.min" %>
<% end %>

<% content_for :inline_scripts do %>
<script type="text/javascript">
	window.onload = function() {
		$('li#nav-elements-server').addClass('active');
		var oTable = $('#sample_1').dataTable({
			"aoColumnDefs" : [{
				"bSortable" : false,
				"aTargets" : [6]
			}],
			"aaSorting" : [[1, 'asc']],
			"aLengthMenu" : [[5, 15, 20, -1], [5, 15, 20, "All"] // change per page values here
			],
			// set the initial value
			"iDisplayLength" : 10,
		});
		jQuery('#sample_1_wrapper .dataTables_filter input').addClass("form-control input-small"); // modify table search input
		jQuery('#sample_1_wrapper .dataTables_length select').addClass("form-control input-small"); // modify table per page dropdown
		jQuery('#sample_1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
	}; 
</script>
<% end %>