<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta content="Servers" name="description"/>
		<meta content="enbake" name="author"/>
		<meta name="MobileOptimized" content="320">
		<%= csrf_meta_tags %>

		<title><%= content_for?(:title) ? yield(:title) : "Mops" %></title>

		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<%= stylesheet_link_tag "font-awesome.min", media: "all" %>
		<%= stylesheet_link_tag "bootstrap.min", media: "all" %>
		<%= stylesheet_link_tag "uniform.default.min", media: "all" %>
		<!-- END GLOBAL MANDATORY STYLES -->
		
		<!-- BEGIN PAGE LEVEL STYLES -->
		<%= stylesheet_link_tag "toastr.min.css", media: "all" %>
		<!-- END PAGE LEVEL SCRIPTS -->

		<!-- BEGIN THEME STYLES -->
		<%= stylesheet_link_tag "style-metronic", media: "all" %>
		<%= stylesheet_link_tag "style", media: "all" %>
		<%= stylesheet_link_tag "style-responsive", media: "all" %>
		<%= stylesheet_link_tag "plugins", media: "all" %>
		<%= stylesheet_link_tag "light", media: "all" %>
		<%= stylesheet_link_tag "custom", media: "all" %>
		<!-- END THEME STYLES -->

		<!-- page specific plugin styles -->
		<%= yield :page_styles %>

		<%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->
	<body class="page-header-fixed">

		<!-- BEGIN HEADER -->
		<div class="header navbar navbar-inverse navbar-fixed-top">
			<!-- BEGIN TOP NAVIGATION BAR -->
			<div class="header-inner">
				<!-- BEGIN LOGO -->
				<a class="navbar-brand" href="/">
					<%= image_tag "logo.png", alt: "logo", class: "img-responsive" %>
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<%= image_tag "menu-toggler.png", alt: "" %>
				</a>
				<!-- END RESPONSIVE MENU TOGGLER -->
				<!-- BEGIN TOP NAVIGATION MENU -->
				<ul class="nav navbar-nav pull-right">

					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<%= image_tag "user.png", style: "height:29px;"%>
						<span class="username">
							<%= current_user.email %>
						</span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="extra_profile.html"><i class="fa fa-user"></i> My Profile</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="/logout"><i class="fa fa-key"></i> Log Out</a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->

				</ul>
				<!-- END TOP NAVIGATION MENU -->
			</div>
			<!-- END TOP NAVIGATION BAR -->
		</div>
		<!-- END HEADER -->

		<div class="clearfix">
		</div>

		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu">
						<li class="sidebar-toggler-wrapper">
							<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
							<div class="sidebar-toggler hidden-phone">
							</div>
							<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
						</li>
						<li class="sidebar-search-wrapper">
							<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
							<form class="sidebar-search" action="extra_search.html" method="POST">
								<div class="form-container">
									<div class="input-box">
										<a href="javascript:;" class="remove"></a>
										<input type="text" placeholder="Search..."/>
										<input type="button" class="submit" value=" "/>
									</div>
								</div>
							</form>
							<!-- END RESPONSIVE QUICK SEARCH FORM -->
						</li>
						<li class="start" id="nav-elements-dashboard">
							<a href="/">
							<i class="fa fa-home"></i>
							<span class="title">
								Dashboard
							</span>
							</a>
						</li>
						<li class="" id="nav-elements-server">
							<a href="<%= servers_path %>">
								<i class="fa fa-tasks"></i>
								<span class="title">
									My Servers
								</span>
							</a>
						</li>
						<li class="last" id="nav-elements-launch">
							<a href="<%= launch_server_path %>">
								<i class="fa fa-rocket"></i>
								<span class="title">
									Launch Server
								</span>
							</a>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!-- BEGIN PAGE HEADER-->
					<div class="row">
						<div class="col-md-12">
							<!-- BEGIN PAGE TITLE & BREADCRUMB-->
							<h3 class="page-title">
								<%= yield :header %>
							</h3>
							<ul class="page-breadcrumb breadcrumb">
								<%= yield :breadcrumbs %>
							</ul>
							<!-- END PAGE TITLE & BREADCRUMB-->
						</div>
					</div>
					<!-- END PAGE HEADER-->
					<!-- BEGIN PAGE CONTENT-->
					<div class="row">
						<div class="col-md-12">
							<%= yield %>
						</div>
					</div>
					<!-- END PAGE CONTENT-->
				</div>
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
	
		<!-- BEGIN FOOTER -->
		<div class="footer">
			<div class="footer-inner">
				
			</div>
			<div class="footer-tools">
				<span class="go-top">
					<i class="fa fa-angle-up"></i>
				</span>
			</div>
		</div>
		<!-- END FOOTER -->

		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		<!--[if lt IE 9]>
			<script src="assets/plugins/respond.min.js"></script>
			<script src="assets/plugins/excanvas.min.js"></script> 
		<![endif]-->
		<%= javascript_include_tag "jquery-1.10.2.min" %>
		<%= javascript_include_tag "jquery-migrate-1.2.1.min" %>
		<%= javascript_include_tag "bootstrap.min" %>
		<%= javascript_include_tag "twitter-bootstrap-hover-dropdown.min" %>
		<%= javascript_include_tag "jquery.slimscroll.min" %>
		<%= javascript_include_tag "jquery.blockui.min" %>
		<%= javascript_include_tag "jquery.cokie.min" %>
		<%= javascript_include_tag "jquery.uniform.min" %>
		<%= javascript_include_tag "toastr.min.js" %>
		<%= javascript_include_tag "app" %>
		<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<!-- END CORE PLUGINS -->
		
		<!-- page specific plugin scripts -->
		<%= yield :page_scripts %>

		<script>
			jQuery(document).ready(function() {
				App.init();
				<% flash.each do |type, message| %>
					<% if type == :notice %>
						toastr.success("<%= message%>");
					<% else %>
						toastr.error("<%= message%>");
					<% end %>
				<% end %>
			});
		</script>
		<script type="text/javascript">
			jQuery(document).ready(function() {
				//Hide the overview when click
				$('#someid').on('click', function () {
					$('#OverviewcollapseButton').removeClass("collapse").addClass("expand"); 
					$('#PaymentOverview').hide();
				});
			});
		</script>
		
		<!-- inline scripts related to this page -->
		<%= yield :inline_scripts %>
		<!-- END JAVASCRIPTS -->
	</body>
<!-- END BODY -->
</html>