<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
	<!-- BEGIN HEAD -->
	<head>
		<meta charset="utf-8"/>
		<title>Mops</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta content="Servers" name="description"/>
		<meta content="enbake" name="author"/>
		<meta name="MobileOptimized" content="320">

		<%= csrf_meta_tags %>

		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<%= stylesheet_link_tag "font-awesome.min", media: "all" %>
		<%= stylesheet_link_tag "bootstrap.min", media: "all" %>
		<%= stylesheet_link_tag "uniform.default.min", media: "all" %>
		<!-- END GLOBAL MANDATORY STYLES -->

		<!-- BEGIN PAGE LEVEL STYLES -->
		<%= stylesheet_link_tag "select2_metro", media: "all" %>
		<%= stylesheet_link_tag "toastr.min.css", media: "all" %>
		<!-- END PAGE LEVEL SCRIPTS -->

		<!-- BEGIN THEME STYLES -->
		<%= stylesheet_link_tag "style-metronic", media: "all" %>
		<%= stylesheet_link_tag "style", media: "all" %>
		<%= stylesheet_link_tag "style-responsive", media: "all" %>
		<%= stylesheet_link_tag "plugins", media: "all" %>
		<%= stylesheet_link_tag "light", media: "all" %>
		<%= stylesheet_link_tag "login", media: "all" %>
		<%= stylesheet_link_tag "custom", media: "all" %>
		<!-- END THEME STYLES -->
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>

	<!-- BEGIN BODY -->
	<body class="login">

		<!-- BEGIN LOGO -->
		<div class="logo">
			<%= link_to '/' do %>
				<%= image_tag "logo_mops.png", alt: "" %>
			<% end %>
		</div>
		<!-- END LOGO -->

		<!-- BEGIN LOGIN -->
		<div class="content">
			<% flash.each do |type, message| %>
				<%= content_tag :div, class: "hidden", id: "message" do %>
					<%= message %>
				<% end %>
			<% end %>
			<%= yield %>
		</div>
		<!-- END LOGIN -->

		<!-- BEGIN COPYRIGHT -->
		<div class="copyright">
		</div>
		<!-- END COPYRIGHT -->

		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		<!--[if lt IE 9]>
			<script src="assets/plugins/respond.min.js"></script>
			<script src="assets/plugins/excanvas.min.js"></script> 
			<![endif]-->
		<%= javascript_include_tag :application %>
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<%= javascript_include_tag "jquery.validate.min" %>
		<%= javascript_include_tag "select2.min" %>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<%= javascript_include_tag "app" %>
		<%= javascript_include_tag "login" %>
		<!-- END PAGE LEVEL SCRIPTS -->
		<script>
				jQuery(document).ready(function() {
					App.init();
					toastr.options = {"closeButton": true, "debug": false, "positionClass": "toast-top-right",
									"onclick": null, "showDuration": "300", "hideDuration": "1000",
									"timeOut": "5000", "extendedTimeOut": "1000", "showEasing": "swing",
									"hideEasing": "linear", "showMethod": "fadeIn", "hideMethod": "fadeOut"}
					<% flash.each do |type, message| %>
						<% if type == :notice %>
							toastr.success("<%= message%>");
						<% else %>
							toastr.error("<%= message%>");
						<% end %>
					<% end %>
				});
			</script>
		<!-- END JAVASCRIPTS -->
	</body>
	<!-- END BODY -->
</html>